# Open Watcom project files
*.wpj
*.tgt

# Open Watcom artifacts
*.err

# Borland Turbo C project files
*.prj

# Borland Turbo C artifacts
*.bak

# Build artifacts
*.lk1
*.map
*.mk
*.mk1
*.sym
*.obj
*.exe

# Environment-specific
*.lnk
*.conf
