# Open Watcom Project Files
*.wpj
*.tgt

# Open Watcom Artifacts
*.err

# Borland Turbo C Artifacts
*.bak

# Build Artifacts
*.lk1
*.map
*.mk
*.mk1
*.sym
*.obj
*.exe

# Environment-specific
*.lnk
*.conf
